{% for project in projects %}
  <article
    class="project-card selected flex flex-col gap-2" data-categories="{{ project.terms('project-category')|map(term => {'slug': term.slug})|json_encode|e('html_attr') }}" data-fields="{{ project.terms('field')|map(term => {'slug': term.slug})|json_encode|e('html_attr') }}">
    {# video #}
    <div class="bg-primary-light">
      {% set video_link = project.video_link %}
      {% if video_link %}
        {% set custom_video_link = video_link|replace({'?': '?portrait=0&title=0&byline=0&controls=0&'}) %}
        {{ custom_video_link|raw }}
      {% endif %}
    </div>
    {# clients and title #}
    <h2 class="truncate">
      {% set clients = project.terms('client') %}
      {% if clients and clients|length > 0 %}
        <span class="project-clients">{{ clients | join(', ') }}
          -
        </span>
      {% endif %}
      <span class="project-title">{{ project.title }}</span>
    </h2>
    {# project tags #}
    {% set fields = project.terms('field') %}
    {% set categories = project.terms('project-category') %}
    <ul
      class="flex flex-wrap gap-1">
      {# field project tags #}
      {% for field in fields %}
        {% include "pages/all-projects/projects-list/project-tag.twig" with {'tag': field} %}
      {% endfor %}
      {# category project tags #}
      {% for category in categories %}
        {% include "pages/all-projects/projects-list/project-tag.twig" with {'tag': category} %}
      {% endfor %}
    </ul>
  </article>
{% endfor %}
