{% extends "base.twig" %}

{% block content %}
  {# header #}
  {% include "layout/header.twig" %}
  <div class="flex gap-8 px-8 py-4">
    <main
      class="flex flex-col gap-8 w-[calc(80vw-3rem)]">
      {# video #}
      <div class="bg-primary-light">
        {% set video_link = project.video_link %}
        {% if video_link %}
          {% set custom_video_link = video_link|replace({'?': '?portrait=0&title=0&byline=0&'}) %}
          {{ custom_video_link|raw }}
        {% endif %}
      </div>
      <div
        class="flex flex-col gap-4">
        {# clients and title #}
        <h2 class="text-2xl">
          {% set clients = project.terms('client') %}
          {% if clients and clients|length > 0 %}
            <span class="project-clients">{{ clients | join(', ') }}
              -
            </span>
          {% endif %}
          <span class="project-title">{{ project.title }}</span>
        </h2>
        {# project tags #}
        {% set fields = project.terms('field') %}
        {% set categories = project.terms('project-category') %}
        <ul
          class="flex flex-wrap gap-2">
          {# field project tags #}
          {% for field in fields %}
            {% include "pages/single-project/tag-link.twig" with {'tag': field} %}
          {% endfor %}
          {# category project tags #}
          {% for category in categories %}
            {% include "pages/single-project/tag-link.twig" with {'tag': category} %}
          {% endfor %}
        </ul>
      </div>
      <div class="flex flex-col gap-5 md:gap-6 [&_a]:text-primary">
        {{ project.description|wpautop }}
      </div>
    </main>
    <aside class="flex flex-col gap-8 w-[calc(20vw-3rem)]">
      <div class="flex flex-col gap-8">
        <p class="text-lg">Lorem ipsum dolor sit amet consectetur adipisicing</p>
        {# Display four random projects #}
        <div class="flex flex-col gap-8">
          {% for random_project in random_projects %}
            <a href="{{ random_project.link }}">
              <article class="flex flex-col gap-2">
                <h3 class="truncate">{{ random_project.title }}</h3>
                {# video thumbnail #}
                {% set video_thumbnail = random_project.video_thumbnail %}
                {% set vimeo_thumbnail = get_vimeo_data_from_link(random_project.video_link, 'thumbnail_url') %}
                <div class="bg-primary-light aspect-video">
                  <img src="{{ video_thumbnail ? video_thumbnail.url : vimeo_thumbnail }}" alt="Video Thumbnail" class="object-cover w-full">
                </div>
              </article>
            </a>
          {% endfor %}
        </div>
      </div>
    </aside>
  </div>
{% endblock %}
