{% extends "base.twig" %}

{% block content %}
  {# header #}
  {% include "layout/header.twig" %}
  <div class="single-project flex min-h-[calc(100vh-3.75rem)]">
    <main
      class="flex flex-col gap-8 w-[80vw] p-4 pl-8">
      {# video #}
      <div class="bg-primary-light">
        {% set video_link = project.video_link %}
        {% if video_link %}
          {% set custom_video_link = video_link|replace({'?': '?portrait=0&title=0&byline=0&'}) %}
          {{ custom_video_link|raw }}
        {% endif %}
      </div>
      <div
        class="flex flex-col gap-4">
        {# clients and title #}
        <h2 class="text-2xl">
          {% set clients = project.terms('client') %}
          {% if clients and clients|length > 0 %}
            <span class="project-clients">{{ clients | join(', ') }}
              -
            </span>
          {% endif %}
          <span class="project-title">{{ project.title }}</span>
        </h2>
        {# project tags #}
        {% set fields = project.terms('field') %}
        {% set categories = project.terms('project-category') %}
        <ul
          class="flex flex-wrap gap-2">
          {# field project tags #}
          {% for field in fields %}
            {% include "pages/single-project/tag-link.twig" with {'tag': field} %}
          {% endfor %}
          {# category project tags #}
          {% for category in categories %}
            {% include "pages/single-project/tag-link.twig" with {'tag': category} %}
          {% endfor %}
        </ul>
      </div>
      {% for item in post.meta('content') %}
        {% if item.acf_fc_layout == 'paragraph' %}
          <div class="flex flex-col gap-5 md:gap-6 [&_a]:text-primary">
            {{ item.paragraph|wpautop }}
          </div>
        {% elseif item.acf_fc_layout == 'image' %}
          <img src="{{ item.image.url }}" alt="{{ item.alt }}" class="object-cover w-full">
        {% elseif item.acf_fc_layout == 'gallery' %}
          <div class="grid grid-cols-2 gap-8">
            {% for image in item.gallery %}
              <img src="{{ image.image.url }}" alt="{{ image.alt }}" class="object-cover w-full">
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    </main>
    {% include "pages/single-project/suggestions/suggestions.twig" %}
  </div>
  <footer class="footer h-[10vh] bg-primary-light"></footer>
{% endblock %}
